<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    script(src="/dll/dll.js")
    body
        .demo2
            .camera
                .space-wrapper
                    .space
                        .cube
                            .boxf 1
                            .boxbc 2
                            .boxl 3
                            .boxr 4
                            .boxt 5
                            .boxbo 6

                        