body {
    background-color: black;
    transition: .2s all linear;
    display: flex;
}

a, 
a:hover,
a:active,
a:visited {
    text-decoration: none;
    color: blue;
}

* {
	color: #00ff00;
}

body {
	background: url(./imgs/timg.jpg) no-repeat;
}


body {
	background-color: blue;
}