<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    meta(name="viewport" content="width=device-width,initial-scale=1")
    script(src="/dll/dll.js")
    body
        .demo2#demo2
            .camera
                .space-wrapper#space-wrapper
                    .space
                        .cube
                            .boxf 1
                            .boxbc 2
                            .boxl 3
                            .boxr 4
                            .boxt 5
                            .boxbo 6
        .msg hh

                        