<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title CSS 技巧
    meta(name="viewport" content="width=device-width,initial-scale=1")
body
    .ellipse

    .half-ellipse

    a.button
        div click me

    .lingxing


    .qiejiao 对边缘进行切角

    .zhejiao 折角

    .tuqi 凸起文字

    ul.scroll
        li Ada claasd
        li alan 
        li sciosdjf
        li timesdf
        li Ada claasd
        li alan 
        li sciosdjf
        li timesdf
        li Ada claasd
        li alan 
        li sciosdjf
        li timesdf
        li Ada claasd
        li alan 
        li sciosdjf
        li timesdf
        